.home {
    position: relative;
    width: 100%;
}

.logo {
    width: 100%;
    position: absolute;
    top: 0;
}

.logo img {
    float: right;
    margin-top: 190px;
}


/* Extra Small */

@media(max-width:767px) {
    .logo {
        width: 100%;
        position: absolute;
        top: 0;
    }
    .logo img {
        float: none;
        width: 65%;
        display: block;
        margin: 25px auto 0;
    }
}


/* Small */

@media(min-width:768px) and (max-width:991px) {}


/* Medium */

@media(min-width:992px) and (max-width:1199px) {}


/* Large */

@media(min-width:1200px) {}