.home {
    position: relative;
    width: 100%;
}

.logo {
    width: 100%;
    position: absolute;
    top: 0;
}

.logo img {
    float: right;
    margin-top: 190px;
}

.avisos {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.avisos p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #3c3f44;
    font-size: 20px;
    line-height: 35px;
    margin: 400px 0 0 0;
    background: #fbef23;
    padding: 10px 25px;
    display: block;
    float: right;
}


/* Extra Small */

@media(max-width:767px) {
    .logo img {
        float: none;
        width: 65%;
        display: block;
        margin: 25px auto 0;
    }
    .avisos {
        position: relative;
    }
    .avisos p {
        font-size: 16px;
        line-height: 24px;
        padding: 10px;
        text-align: center;
        margin: 0 0 0 0;
    }
}


/* Small */

@media(min-width:768px) and (max-width:991px) {}


/* Medium */

@media(min-width:992px) and (max-width:1199px) {}


/* Large */

@media(min-width:1200px) {}