/*font-family: 'Roboto', sans-serif;*/

@font-face {
    font-family: 'Novecento wide';
    src: url('../fonts/Novecentowide-Book.eot');
    src: url('../fonts/Novecentowide-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Novecentowide-Book.woff2') format('woff2'), url('../fonts/Novecentowide-Book.woff') format('woff'), url('../fonts/Novecentowide-Book.ttf') format('truetype'), url('../fonts/Novecentowide-Book.svg#Novecentowide-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Novecento wide';
    src: url('../fonts/Novecentowide-Normal.eot');
    src: url('../fonts/Novecentowide-Normal.eot?#iefix') format('embedded-opentype'), url('../fonts/Novecentowide-Normal.woff2') format('woff2'), url('../fonts/Novecentowide-Normal.woff') format('woff'), url('../fonts/Novecentowide-Normal.ttf') format('truetype'), url('../fonts/Novecentowide-Normal.svg#Novecentowide-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Novecento wide';
    src: url('../fonts/Novecentowide-Light.eot');
    src: url('../fonts/Novecentowide-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Novecentowide-Light.woff2') format('woff2'), url('../fonts/Novecentowide-Light.woff') format('woff'), url('../fonts/Novecentowide-Light.ttf') format('truetype'), url('../fonts/Novecentowide-Light.svg#Novecentowide-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Novecento wide';
    src: url('../fonts/Novecentowide-DemiBold.eot');
    src: url('../fonts/Novecentowide-DemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Novecentowide-DemiBold.woff2') format('woff2'), url('../fonts/Novecentowide-DemiBold.woff') format('woff'), url('../fonts/Novecentowide-DemiBold.ttf') format('truetype'), url('../fonts/Novecentowide-DemiBold.svg#Novecentowide-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Novecento wide';
    src: url('../fonts/Novecentowide-Bold.eot');
    src: url('../fonts/Novecentowide-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Novecentowide-Bold.woff2') format('woff2'), url('../fonts/Novecentowide-Bold.woff') format('woff'), url('../fonts/Novecentowide-Bold.ttf') format('truetype'), url('../fonts/Novecentowide-Bold.svg#Novecentowide-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Novecento sans wide Book';
    src: url('../fonts/Novecentosanswide-Bold.eot');
    src: url('../fonts/Novecentosanswide-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Novecentosanswide-Bold.woff2') format('woff2'), url('../fonts/Novecentosanswide-Bold.woff') format('woff'), url('../fonts/Novecentosanswide-Bold.ttf') format('truetype'), url('../fonts/Novecentosanswide-Bold.svg#Novecentosanswide-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Novecento wide';
    src: url('../fonts/Novecentowide-Medium.eot');
    src: url('../fonts/Novecentowide-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Novecentowide-Medium.woff2') format('woff2'), url('../fonts/Novecentowide-Medium.woff') format('woff'), url('../fonts/Novecentowide-Medium.ttf') format('truetype'), url('../fonts/Novecentowide-Medium.svg#Novecentowide-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

.margin-top {
    margin-top: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-27 {
    margin-top: 27px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-54 {
    margin-top: 54px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-65 {
    margin-top: 65px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-top-90 {
    margin-top: 90px;
}

.margin-top-99 {
    margin-top: 99px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-110 {
    margin-top: 110px;
}

.margin-top-120 {
    margin-top: 120px;
}

.margin-top-140 {
    margin-top: 140px;
}

.margin-top-149 {
    margin-top: 149px;
}

.margin-top-150 {
    margin-top: 150px;
}

.margin-top-160 {
    margin-top: 160px;
}

.margin-top-200 {
    margin-top: 200px;
}

.margin-top-220 {
    margin-top: 220px;
}

.margin-top-230 {
    margin-top: 230px;
}

.margin-top-250 {
    margin-top: 250px;
}

.margin-top-330 {
    margin-top: 330px;
}

.margin-top-350 {
    margin-top: 350px;
}

.margin-top-380 {
    margin-top: 380px;
}

.margin-top-385 {
    margin-top: 385px;
}

.margin-top-390 {
    margin-top: 390px;
}

.margin-top-400 {
    margin-top: 400px;
}

.mb-20 {
    margin-bottom: 20px;
}

.padding-off {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

p {
    margin: 0;
}

.container-off-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.row-off-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.modal {
    background: rgba(0, 0, 0, 0.7);
}

.close,
.close:hover {
    color: #fff;
    opacity: 1;
}


/* Extra Small */

@media(max-width:767px) {
    .padding-off-mobile {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}